---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="container">
        <h1>Statement</h1>
        <div class="quote-container">
            <svg
                class="quote"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                fill="#0986a2"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path
                            d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z"
                        ></path>
                    </g>
                </g></svg
            >
        </div>
        <p>
            Soy una artista multifacética, ya que dedico mi labor artística
            tanto a las Artes Visuales (Pintura, Dibujo, Grabado, Arte
            expandido; con guiños al happening y la instalación) como a la
            poesía y al maquillaje artístico. Mis obras suelen surgir de las
            cosas que me gustan e interesan (en la mayoría de los casos suelo
            inspirarme en las artes en general; la música, la poesía, el cine,
            el diseño, la fotografía, etc.) como así también, éstas surgen de
            mis fantasías y situaciones cotidianas. Sin embargo, también busco
            interpelar y llamar a la reflexión al espectador de alguna manera,
            porque me resulta interesante la idea del arte no meramente como una
            creación individual del artista, sino también como algo que logra
            indagar en cuestiones más profundas de la vida y el mundo en
            general. Soy una artista emergente, recientemente estoy dando a
            conocer mi obra y abrí una página de instagram dedicada
            exclusivamente a ella. Mi idea es darme a conocer en mi país y en el
            mundo, tengo varios proyectos de obras de grandes dimensiones en
            mente (en este caso instalaciones) que espero llevar a cabo en estos
            próximos años.
        </p>
    </div>
</Layout>

<style>
    .container {
        padding: 0 2rem;
        animation: appear 1s ease;
    }

    .container h1 {
        position: relative;
        z-index: 1;
        font-family: "Encode", sans-serif;
    }

    .container p {
        text-align: center;
        text-indent: 10px;
    }

    .quote-container {
        position: relative;
    }

    .quote {
        position: absolute;
        width: 4rem;
        top: -6rem;
        left: -1rem;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            transform: translateY(1rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and (min-width: 700px) {
        .container h1 {
            text-align: center;
        }
        .quote {
            display: none;
        }
        .container p {
            text-align: left;
            margin: 0 auto;
            max-width: 920px;
        }
    }
</style>
